@charset "UTF-8";

/* Reset */
* {
    color: #333;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a                 {text-decoration: none;}
a:link          { color: #333;}
a:visited      { color: #333;}
a:hover       { color: #222;}
a:active       { color: #222;}
img             {vertical-align: middle;}
ul                {list-style: none;}
/* Reset */

/* Guide Line 시작 */
/*div#wrap {border: 1px solid #000;}*/
/*#header {border: 1px solid #000;}*/
/*#main {border: 1px solid #000;}*/
/*#aside {border: 1px solid #000;}*/
/*#footer {border: 1px solid #000;}*/
/* Guide Line 끝 */


/* div#wrap 시작 */
div#wrap {
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}
/* div#wrap 끝 */


/* header#header 시작 */
#header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    justify-content: space-between;
}
#headerLogo {
    margin-top: 30px;
    margin-left: 30px;
    height: 100px;
    line-height: 100px;
}
nav#headerGNB {
    width: 500px;

    position: relative;
}
#headerGNB>ul#mainMenu {
    position: absolute;
    right: 40px;
    bottom: 0;
}
#headerGNB>ul#mainMenu>li {
    font-size: 20px;
    text-align: center;
    float: left;
}
#headerGNB>ul>li>a {
    font-weight: bold;
    background-color: #f80;
}
#headerGNB>ul>li>a:hover {
    background-color: rgba(255, 136, 0, 0.5);
}
#headerGNB a {
    padding: 8px 13px;
    display: inline-block;
}
#headerGNB .subMenu {
    font-size: 16px;

    position: absolute;
    z-index: 2;
    display: none;
}
#headerGNB .subMenu a:hover {
    background-color: rgba(255, 245, 0, 0.68);
}
/* header#header 끝 */

/* div#bgArea 영역 시작*/
div#gbArea {
    position: relative;
    z-index: 0;
}
#subMenuBG {
    width: 1200px;
    height: 130px;
    background-color: rgba(240, 168, 85, 0.87);
    display: none;

    position: absolute;
    z-index: 1;
}
/* div#bgArea 영역 끝*/

/* main#main 시작 */
div#slideArea {
    width: 1200px;
    height: 360px;
}
#shuttleFrame {
    width: 1200px;
}
#slideArea a {
    position: absolute;
}
#slideArea a:not(:first-child) {
    display: none;
}
#slideArea span {
    width: 410px;
    height: 100px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.6);

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* main#main 끝 */

/* aside#aside 시작 */
#aside {
    height: 230px;
    padding: 15px 20px;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    justify-content: space-around;
}
    /* div#tabContent1 시작 */
#tabContent1 {
    width: 300px;
}
.tabBtn {
    border: 1px solid #aaa;
    border-bottom: none;
    position: relative;
    top: 1px;
}
#tabContent1 #bbsNotice {
    border: 1px solid #aaa;
    line-height: 31px;
    padding: 10px;
}
#bbsNotice span {
    font-size: 11px;
}
#bbsNotice span:first-child  {
    display: inline-block;
    width: 210px;
}
    /* div#tabContent1 끝 */

    /* div#tabContent2 시작 */
#tabContent2 img:hover{
    opacity: 0.7;
}
#gallery {
    border: 1px solid #aaa;
}
    /* div#tabContent2 끝 */
#aside .tabBtn {
    padding: 6px 14px;
    font-weight: bold;
    margin-left: 30px;
}
/* aside#aside 끝 */

/* footer#footer 시작 */
#footer {
    height: 100px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    position: relative;
}
#footer #footerMainMenu {
    width: 800px;
    height: 50px;
    line-height: 50px;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    justify-content: space-around;
}
#footerMainMenu li:hover {
    font-weight: bold;
}
#copyright {
    width: 800px;
    height: 50px;
    color: #aaa;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;

    position: absolute;
    bottom: 0;

}
#moveTo select {
    width: 400px;
    height: 50px;
    font-size: 20px;

    position: absolute;
    right: 0;
    top: 0;
}
/* footer#footer 끝 */

/* 레이어 팝업 시작 */
div#layerBG {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    display: none;

    position: fixed;
    left: 0;
    top: 0;
}
div#layerPopup {
    height: 240px;
    min-width: 500px;
    padding: 10px 18px;
    border: 1px solid #000;
    background-color: #fff;

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}
#layerPopup h1 {
   font-size: 24px;
    text-align: center;
}
#layerPopup ul {
    line-height: 40px;
    margin: 10px;
    font-size: 15px;

    list-style: disc;
    list-style-position: inside;
}

div#layerPopup button#closeBtn {
    width: 50px;
    height: 30px;
    font-size: 14px;
    border: 1px solid #aaa;

    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 190px;
}
/* 레이어 팝업 끝 */

/* IE9 버전 이하의 예전버전에서 실행되기 위한 소스 */
header, nav, footer, section,
main, article, aside {
    display: block;
}













